.posts {
    margin-bottom: 60px;
}

.posts-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -10px -20px;
}

.posts-item {
    max-width: 380px;
    margin-bottom: 30px;
}

.posts-title {
    font-size: 24px;
    line-height: 31px;
    color: #1E0606;
}

.posts-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.posts-title:active {
    text-decoration: underline;
    cursor: pointer;
}