*  {
    box-sizing: border-box;    
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    font-weight: normal;
    color: #1E0606;
}

a {
    text-decoration: none;
    color: #000;
}

footer a {
    color: #FFFFFF;
}

.outline {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hidden {
    height: 0;
    font-size: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.page-title {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 110%;          
}

.page-title-two {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    font-size: 38px;
    line-height: 46px;
}

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto; 
}

.wrapper {
    background: #434343;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    color: #FFFFFF;
}

.button {
    background: black;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    max-width: 123px;
    width: 100%;
    text-align: center;
    padding: 9px;
    border: none;
    text-transform: uppercase;
    display: block;
    cursor: pointer;    
}

.button:hover, .button:focus {
    background: #C29974;
    outline:none;
}

.button:active {
    background: #CFAF91;
    outline:none;
}

.button:disabled {
    background: #C1C1C1;
    outline:none;
}

/* Header */

.header {
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 50px;
    margin-bottom: 60px;
    -webkit-display: flex;
        -moz-display: flex;
            display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}

.header-logo:hover {
    opacity: .5;     
}

.header-logo:active {
    opacity: .2;
}                                   

.header-nav {
    margin: 0 auto 0 60px;
}

.header-list {
    -webkit-display: flex;
        -moz-display: flex;
            display: flex;
    -webkit-align-items: center;
        -moz-align-items: center;
            align-items: center;   
}

.header-item {
    margin-right: 20px; 
}

.header-item:hover {
    opacity: .5;
    background: none;
}

.header-item:active {
    opacity: .2;
}

.header-search {
    margin-right: 20px; 
}

.header-search:hover {
    opacity: .5;
    background: none;
}

.header-search:active {
    opacity: .2;
    background: none;
}

.header-contacts {
    font-weight: bold;
    -webkit-display: flex;
        -moz-display: flex;
            display: flex;
    -webkit-align-items: center;
        -moz-align-items: center;
            align-items: center;
    text-transform: uppercase;    
    color: #1E0606;
}

.header-contacts:hover {
    opacity: .5;    
}

.header-contacts:active {
    opacity: .2;    
}

/* Breadcrumbs */

.breadcrumbs {
    margin-left: 0 auto;
    margin-bottom: 50px;  
    list-style-type: none;
    font-family:"Crimson Text", Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606;    
}

.breadcrumbs-list {
    padding-left: 0;
}

.breadcrumbs-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}
  
.breadcrumbs-item:not(:last-child):after {
    content: ">";
    margin-left: 5px;
}
  
.breadcrumbs-link {
    color: #1E0606;  
    text-decoration: none;
}
  
.breadcrumbs-link.current {
    color: #1E0606;
    opacity: 0.5;
  }

/* Pagination */

.pagination {
    font-family: "Montserrat", Arial, sans-serif; ;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 35px;    
    -webkit-display: flex;
        -moz-display: flex;
            display: flex;
    -webkit-align-items: center;
        -moz-align-items: center;
            align-items: center;
    font-size: 14px;
    line-height: 19px;    
    outline: none;
}

.pagination-nav {
    margin: 0 auto;
}

.pagination-list {
    -webkit-display: flex;
        -moz-display: flex;
            display: flex;
    -webkit-align-items: center;
        -moz-align-items: center;
            align-items: center;
}

.pagination-item {
    margin-right: 35px;
    list-style-type: none;
    margin-left: 29px;    
}

.page-active {
    fill: #C29974;
}

a:hover svg path {
    fill:#AAAAAA;
    cursor: pointer;
    text-decoration: none;
}

/* Форма контактов */

.contact-form {
    max-width: 680px;
    width: 100%;
    background: #E5EAF8;
    margin: 0 auto 60px;
    padding: 42px 40px;
}

.contact-form fieldset{
    border: none;
    -webkit-display: flex;
        -moz-display: flex;
            display: flex;
    max-width: 0%;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;    
}

.contact-form label {
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    margin-bottom: 3px;
}

.contact-wrapper {
    -webkit-display: flex;
        -moz-display: flex;
            display: flex;  
}

div .form-name {    
    width: 600px;
    bottom: 50px;
}

.contact-block {
    -webkit-flex-direction: column; 
        -moz-flex-direction: column;  
            flex-direction: column;
    width: 290px;
    margin-right: 20px;
}

.contact-wrapper:focus-within label {
    color: rgba(0, 0, 0, 0.3);
}

.contact-container:focus-within label {
    color: rgba(0, 0, 0, 0.3);
}

.contact-form input,
.contact-form textarea {
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 12px 20px;
    font-size: 18px;
    line-height: 25px;        
}  

.contact-form textarea {
    width: 600px;
    height: auto;
    resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border: 2px solid rgba(0, 0, 0, 0.3);
    outline: none;
}

.contact-form input::placeholder {
    color: #1E0606;
}

.checkbox-agreement {
    width: 542px;        
}

.checkbox-agreement label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;       
}   

.input {
    display: none;
}

.checkbox-agreement label:before,
.checkbox-agreement label:after {
    content: "";
    position: absolute;
    display: block;    
}

.checkbox-agreement label:before {
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;    
    border: 2px solid #C29974;   
    border-radius: 20%; 
}

.checkbox-agreement label:after {
    content: " ";
    background-image: url(../images/Vector\ 1\ \(Stroke\).png);
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: center;
    width: 13px;
    height: 13px;
    top: 5px;
    left: 5px;
    opacity: 0;
}   

.input:checked + label:after {
    opacity: 1;
}

.input:checked:hover + label:hover {
    opacity: 1;
    text-decoration: underline;
}

.input:disabled + label {
    opacity: .7;
}

.checkbox-label {
   outline: none; 
}

/* footer */

.footer-content  {
    padding-top: 87px;    
    padding-bottom: 130px; 
}

.footer-first-block {
    -webkit-display: flex;
        -moz-display: flex;
            display: flex;  
    -webkit-align-items: flex-start;
        -moz-align-items: flex-start;
            align-items: flex-start;        
}

.footer-second-block {
    margin-top: 12px;
}

.footer-block-item {
    margin: 0 auto;
    max-width: 380px;
}

.footer-item {
    margin-bottom: 15px;
}

.footer-link:hover {
    background: none;
    opacity: .5;
}

.item_block {
    margin-top: 0;
}

.form-container {
    -webkit-display: flex;
        -moz-display: flex;
            display: flex;    
}

input[type="email"] {
    background: #666666;
    border: 1px solid transparent;
    max-width: 300px;
    width: 100%;
    outline: none;
}

input[type="email"]:hover {
    background: #666666;
    list-style-type: none;
    border-top: 1px solid #FFFDFD;
    border-bottom: 1px solid #FFFDFD;
    border-left: 1px solid #FFFDFD;    
}

.footer-btn {
    background: #000;
    border: none;
    color: #FFFFFF;
    text-transform: uppercase;
    max-width: 80px;
    padding: 9px 22px;
    cursor: pointer;  
    outline:none;  
}

.footer-btn:focus {
    background: #C29974;
}

.social-link:hover {
    opacity: .5;
    background: none;
}

.social-link:active {
    opacity: .2;
}

.footer-link:hover {
    color: #A1A1A1;
    background: none;
    opacity: .5;
}

.footer-link:active {
    color: #696969;
}

div > h4 {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    border-bottom: 1px solid #A2A2A2;
    width: 375px;
    padding-bottom: 23px;
    margin-left: -7px;
}

.footer-nav {
    margin-left: -11px;
}

.footer-list {
    color:#FFFFFF;
    margin-bottom: 28px;    
}

.social-list {
    -webkit-display: flex;
        -moz-display: flex;
            display: flex;
    margin-top: 25px;
}

.social-item {
    margin-left: 0px;
    margin-right: 10px;
}

.footer-copyright {
    -webkit-display: flex;
        -moz-display: flex;
            display: flex;
    border-top: 1px solid #A2A2A2;    
}

.rating-item {
    margin-left: 8px;
    margin-right: 25px;
    outline: none;
}

.rating-wrapper    {
    position: relative;
    font-size: 23px;
    display: inline-block;  
    margin-top: 15px;     
}   

.rating-wrapper:before {
    content: '★★★★★';
    display: block;   
}

.rating-wrapper-items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-display: flex;
        -moz-display: flex;
            display: flex;
    -webkit-flex-direction: row-reverse;
        -moz-flex-direction: row-reverse;
            flex-direction: row-reverse;
    overflow: hidden;    
}

.rating-wrapper-item {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;    
}

.rating-wrapper-label {
    -webkit-flex: 0 0 20%;
        -moz-flex: 0 0 20%;
            flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #FFFFFF;
    outline: none; 
}

.rating-wrapper-label:before {
    content: '★';
    display: block;    
}

.rating-item:hover {
    color: #836E5B;
    cursor: pointer;
}

.rating-item:active {
    color: #C29974;
}

.rating-wrapper-label:hover,
.rating-wrapper-label:hover ~ .rating-wrapper-label:not(:first-child) {
    color: #836E5B;
}

.rating-wrapper-label:active,
.rating-wrapper-label:active ~ .rating-wrapper-label:not(:first-child) {
    color: #C29974;
}

.copyright-item {
    margin-left: 155px;    
}

.copyright-item-link {
    padding-top: 17px;
    margin-left: 109px;    
}

.copyright-link {
    color: #A2A2A2;
    text-decoration: none;      
}

.copyright-link:hover {
    color:#FFFFFF;
    text-decoration: underline;
    background: none;
} 