/* outline:none влияет на доступность */

*  {
    box-sizing: border-box;
    outline: none; 
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    font-weight: normal;
    color: #1E0606;
}

a {
    text-decoration: none;
    color: #000;
}

footer a {
    color: #FFFFFF;
}

.outline {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hidden {
    height: 0;
    font-size: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.page-title {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 110%; 
    margin-bottom: 20px; 
    text-transform: uppercase;
}

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto; 
}

.wrapper {
    background: #434343;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    color: #FFFFFF;
}

.button {
    background: black;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    max-width: 123px;
    width: 100%;
    text-align: center;
    padding: 9px;
    border: none;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
}

.button:hover {
    background: #C29974;
}

.button:active {
    background: #CFAF91;
}

.button:disabled {
    background: #C1C1C1;
}

/* Header */

.header {
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 50px;
    margin-bottom: 125px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}

.header-logo:hover {
    opacity: .5;
}

.header-logo:active {
    opacity: .2;
}

.header-nav {
    margin: 0 auto 0 60px;
}

.header-list {
    display: flex;
    align-items: center;
}

.header-item {
    margin-right: 20px; 
}

.header-item:hover {
    opacity: .5;
    background: none;
}

.header-item:active {
    opacity: .2;
}

.header-search {
    margin-right: 20px; 
}

.header-search:hover {
    opacity: .5;
    background: none;
}

.header-search:active {
    opacity: .2;
    background: none;
}

.header-contacts {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;    
    color: #1E0606;
}

.header-contacts:hover {
    opacity: .5;    
}

.header-contacts:active {
    opacity: .2;    
}

/* Breadcrumbs */

.breadcrumbs {
    margin-left: 0 auto;  
    list-style-type: none;
    font-family:Crimson Text;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606;    
}

.breadcrumbs-list {
    padding-left: 0;
}

.breadcrumbs-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}
  
  .breadcrumbs-item:not(:last-child):after {
    content: ">";
    margin-left: 5px;
}
  
  .breadcrumbs-link {
    color: #1E0606;  
    text-decoration: none;
}
  
.breadcrumbs-link.current {
    color: #1E0606;
    opacity: 0.5;
  }

/* Pagination */

.pagination {
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}

.pagination-nav {
    margin: 0 auto;
}

.pagination-list {
    display: flex;
    align-items: center;
}

.pagination-item {
    margin-right: 67px; 
    list-style-type: none;
}

.pg-active {
    fill: #C29974;
}

a:hover svg path {
    fill:#AAAAAA;
    cursor: pointer;
    text-decoration: none;
}

/* footer */

.footer {
    margin-bottom: 100px;
}

.footer-content  {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-first-block {
    display: flex;
}

.footer-block-item {
    margin: auto;
    max-width: 380px;
}

.footer-item {
    margin-bottom: 15px;
}

.footer-link:hover {
    background: none;
    opacity: .5;
}

.item_block {
    margin-top: 0;
}

.form-container {
    display: flex;
}

input[type="email"] {
    background: #666666;
    border: 2px solid transparent;
    max-width: 300px;
    margin-left: 10px;
}

input[type="email"]:hover,
input[type="email"]:active {
    background: #666666;
    list-style-type: none;
    border-top: 2px solid #FFFDFD;
    border-bottom: 2px solid #FFFDFD;
    border-left: 2px solid #FFFDFD;
    max-width: 300px;
}

.footer-btn {
    background: #000;
    border: none;
    color: #FFFFFF;
    text-transform: uppercase;
    max-width: 80px;
    padding: 9px 22px;    
}

.social-link:hover {
    opacity: .5;
    background: none;
}

.social-link:active {
    opacity: .2;
}

.footer-link:hover {
    color: #A1A1A1;
    background: none;
    opacity: .5;
}

.footer-link:active {
    color: #696969;
}

div > h4 {
    color: #AAAAAA;
    border-bottom:2px solid #A2A2A2;
    width: 375px;
    padding-bottom: 23px;
}

.footer-list {
    color:#FFFFFF;
    margin-bottom: 28px;
}

.social-list {
    display: flex;
    margin-top: 25px;
}

.social-item {
    margin-left: 10px;
}

.footer-copyright {
    display: flex;
    border-top:2px solid #A2A2A2;
}

.rating-item,
.copyright-item {
    margin:auto;
}

.rating-item {
    margin-left: 0;
}

.rating-item:hover {
    color: #836E5B;
    cursor: pointer;
}

.rating-item:active {
    color: #C29974;
}

.rating-item:hover svg:not(:last-child) path {
    fill:#836E5B;
}

.rating-item:active svg:not(:last-child) path {
    fill:#C29974;
} 

.copyright-link {
    color: #A2A2A2;
    text-decoration: none;
}

.copyright-link:hover {
    color:#FFFFFF;
    text-decoration: underline;
    background: none;
}