*  {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    font-weight: normal;
    color: 1E0606;
}

a {
    text-decoration: none;
    color: black;
}

.outline {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hidden {
    height: 0;
    font-size: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;    
}

.wrapper {
    background: #434343;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    color: #FFFFFF;
}

.footer-navigation {
    color: #FFFFFF;
}

.button {
    background: black;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    max-width: 123px;
    width: 100%;
    text-align: center;
    padding: 9px;
    border: none;
    text-transform: uppercase;
    display: block;
}

/* HEADER */
.header {
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 19px;
}

.header-nav {
    margin: 0 auto 0 60px;
}

.header-list {
    display: flex;
    align-items: center;
}

.header-item {
    margin-right: 20px;     
}

.header-search {
    margin-right: 20px; 
}

.contacts {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
}
/* MAIN */
.title-first-type {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;   
}

.slovenia-design {
    font-family: "Crimson Text", Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

.free-shipping {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    background: #C29974;
}

.title-second-type {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 38px;
    line-height: 46px;
}

.title-third-type {
    font-family: "Crimson Text", Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
}

.title-four-type {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
}

.tabs-item {
    font-family: "Crimson Text", Arial, sans-serif;
    font-style: italic;
    font-size: 26px;
    line-height: 32px;
}

/* Разобраться почему не работает */
input[type="checkbox"]:checked {
    font-family: "Crimson Text", Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;

/* FOOTER */

