*  {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    font-weight: normal;
    color: 1E0606;
}

a {
    text-decoration: none;
    color: black;
}

.outline {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hidden {
    height: 0;
    font-size: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;    
}

.wrapper {
    background: #434343;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    color: #FFFFFF;
}

.button {
    background: black;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    max-width: 123px;
    width: 100%;
    text-align: center;
    padding: 9px;
    border: none;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
}

.button:hover {
    background: #C29974;
}

.button:active {
    background: #CFAF91;
}

/* HEADER */
.header {
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 19px;
}

#header-top {
    margin-bottom: 80px;
}

.header-nav {
    margin: 0 auto 0 60px;
}

.header-list {
    display: flex;
    align-items: center;
}

.header-item {
    margin-right: 20px;     
}

.header-search {
    margin-right: 20px; 
}

.contacts {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
}

/* slider */

.slider {
    background-image: url("images/slider1.jpg");
    background-repeat: no-repeat;
    background-color: #EEE4DB;
    background-position: center bottom;

    background: #EEE4DB no-repeat center bottom;
    /* background-size: cover; */
    margin-bottom: 90px;
}

.slider-content {
    display: flex;
}

.slider-first-block {
    margin-top: 89px;
    margin-left: 133px;
}

.slider-title {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 110%; 
    margin-bottom: 20px; 
}

.slider-btn {
    max-width: 161px;
}

.slider-img {
   width: 635.49px;
   margin-top: -89px;
   margin-right: 99px;

}
.slider-second-block {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    background: #C29974;
    color: #FFFFFF;     
    display: flex;
    justify-content: center;
}

.slider-item {
    font-family: "Crimson Text", Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

/* Products */

.products {
    margin-bottom: 90px;
}

.products-title {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    font-size: 38px;
    line-height: 46px;
}

.products-list {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px -20px;
}

.products-item {
    width: 25%;
    margin: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.container-link {
    position: relative;
    text-align: center;
}

.title-link {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
}

.products-info {
    display: flex;
    max-width: 680px;
    margin-bottom: 0;
}

.btn-control {
    border: none;
    opacity: .5;
    margin-right: 10px;
    width: 30px;
}

.info_item {
    margin-left: 20px;
}

/* delivery */

.delivery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.delivery-info {
    max-width: 540px;
    margin-top: 30px;
    margin-left: 60px;
    margin-bottom: 57px;
}    

.delivery-title {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    font-size: 38px;
    line-height: 46px;
    margin: 0;
    margin-bottom: 6px;
}

.delivery-input {
    display: none;
}    

.delivery-input:checked {
    font-weight: bold;
}

.delivery-btn {
    max-width: 149px;
}
/* Стилизовать табы */
.tabs-item {
    font-family: "Crimson Text", Arial, sans-serif;
    font-style: italic;
    font-size: 26px;
    line-height: 32px;
}

.checked {
    font-weight: bold;
    width: 326px;
    background: rgba(112, 187, 220, 0.2);
}

/* Brands */

.brands-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.brands-item {

}

/* Уточнить нужно ли */
.brand-item {
    opacity: .5;
}

.brand-item:hover {
    opacity: 1;
}

.brand-item:active {
    opacity: .2;
}

/* About */
.about {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.about-content {
    max-width: 543px;
    background: #E1F0F7;
    margin-right: 57px;
    padding: 10px 30px 35px;
}

.about-title {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 38px;
    line-height: 46px;
    margin-top: -36px;
    margin-bottom: 10px;
}

.about-title-second {
    font-family: "Crimson Text", Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 10px;
}

.about-item {
    margin-bottom: 10px;
}

.about-btn {
    margin-bottom: 35px;
}

.contacts-content {
    max-width: 543px;
    max-height: 209px;
    background: #E1F0F7;
    padding-left: 30px;
    padding-right: 30px;
}

.contacts-title {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 38px;
    line-height: 46px;
    margin-top: -26px;
    margin-bottom: 10px;
}

.contacts-item {
    margin-bottom: 20px;
}

/* footer */
.footer {
    margin-bottom: 100px;
}

.footer-content  {
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-first-block {
    display: flex;
}

.footer-block-item {
    margin: auto;
    max-width: 380px;
    margin-bottom: 52px;
}

.item_block {
    margin-top: 0;
}

.form-container {
    display: flex;
}
input[type="email"] {
    background: #666666;
    border: none;
    max-width: 300px;
}

.footer-btn {
    background: #000;
    border: none;
    color: #FFFFFF;
    text-transform: uppercase;
    max-width: 80px;
    padding: 9px 22px;    
}

.social-link:hover {
    opacity: .5;
}

.social-link:active {
    opacity: .2;
}

.footer-link {
    color: #FFFFFF;
}

.footer-link:hover {
    color: #A1A1A1;
}

.footer-link:active {
    color: #696969;
}

.footer-list {
    color: white;
}

div > h4 {
    color: #AAAAAA;
    border-bottom:2px solid #A2A2A2;
}

.footer-list {
    color: #FFFFFF;
}

.social-list {
    display: flex;
    margin-top: 25px;
}

.social-item {
    margin-right: 10px;
}

.footer-copyright {
    display: flex;
    border-top:2px solid #A2A2A2;
}

.copyright-item {
    margin:auto;
}

.copyright-link {
    color: #A2A2A2;
}

.copyright-link:hover {
    color:#FFFFFF;
    text-decoration: underline;
}




















































